// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for the card wrapper
.footer_content {
    @include flex;
    justify-content: space-between;
    gap: 101px;
    margin-bottom: 134px;

    @include media($large-screen) {
        gap: 0px;
    }

    @include media($tablet-screen) {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    h2 {
        @include text-styles($primary-color, $font-medium, 25px, 400, 1.25);
        margin-bottom: 9px;
    }

    ul {

        li {
            a {
                @include text-styles($secondary-color, $font-regular, 22px, 400, 3);
                margin: 17px 0;
            }
        }
    }

    &__icon {
        width: 35%;

        @include media($tablet-screen) {
            width: 100%;
            margin-bottom: 40px;
            padding: 0 20px;
        }

        p {
            @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
            margin-top: 18px;
        }

        &__social {
            gap: 54px;
            margin-top: 31px;

            img {
                width: auto;
            }
        }
    }

    &__pages,
    &__services,
    &__contact {
        width: 20%;

        @include media($tablet-screen) {
            width: 33.33%;
            padding: 0 20px;
        }

        @include media($mobile-screen) {
            width: 100%;
            margin: 40px 0
        }
    }

    &__contact {
        a {
            @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
            word-wrap: break-word;
            margin: 17px 0;
        }
    }
}
.Copyright{
    margin: 40px 0;
    text-align: center;
    @include text-styles($primary-color, $font-regular, 22px, 400, 1.5);
}