// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Define the main section
.banner {
    height: 900px;
    position: relative;

    @include media($mobile-screen) {
        height: 600px;
    }

    &__image {
        height: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 100% 45%;
            border-radius: 0 0 0 335px;

            @include media($extra-large-screen) {
                object-position: 100% 50%;
            }

            @include media($tablet-screen) {
                border-radius: 0px;
            }
        }
    }

    &__content {
        position: absolute;
        top: 30%;
        max-width: 570px;

        @include media($extra-large-screen) {
            top: 25%;
        }

        @include media($tablet-screen) {
            max-width: 100%;
        }

        h1 {
            @include text-styles($primary-color, $font-medium, 84px, 400, 1.25);
            margin-bottom: 10px;

            @include media($tablet-screen) {
                font-size: 60px;
            }

            @include media($mobile-screen) {
                font-size: 42px;
            }
        }

        p {
            @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
            margin-bottom: 21px;

            @include media($tablet-screen) {
                color: black;
            }
        }

    }
}

.card {
    padding: 84px 0;
    margin: 95px 0;
    flex-wrap: wrap;
    @include flex-center;

    @include media($tablet-screen) {
        margin: 0;
    }

    &__div {
        padding: 21px;
        width: 33.33%;

        @include media($tablet-screen) {
            width: 50%;
            margin-bottom: 20px;
        }

        h3 {
            @include text-styles($primary-color, $font-medium, 25px, 500, 1.25);
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
            text-align: center;
            margin-bottom: 52px;
        }

        .bold {
            @include flex-center;
            gap: 10px;
            @include text-styles($secondary-color, $font-regular, 18px, 600, 1.25);
            margin-bottom: 0;
            text-align: center;
            width: fit-content;
            margin: 0 auto;

            &::after {
                padding-top: 5px;
                content: url(../images/icons/Vector.svg);
            }

            &:hover {
                color: red;
            }
        }

        @include media($mobile-screen) {
            width: 100%;

            h3 {
                font-size: 22px;
            }

            p {
                font-size: 18px;
            }

            a {
                .bold {
                    font-size: 16px;
                }
            }
        }
    }
}

.contact_us {
    @include flex;
    gap: 75px;
    margin-bottom: 200px;

    @include media($tablet-screen) {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    &__content {
        width: 472px;
        padding: 43px 0 0 0;

        @include media($extra-large-screen) {
            width: 50%;
        }

        @include media($tablet-screen) {
            width: 100%;
            padding: 0 20px;
        }

        h3 {
            margin-bottom: 33px;
            @include text-styles($primary-color, $font-medium, 50px, 400, 1.25);
            letter-spacing: 1px;
        }

        p {
            @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
            margin-bottom: 45px;
            letter-spacing: 0.22px;
        }

        &__call {
            align-items: center;
            gap: 15px;
            margin-bottom: 47px;

            &__number {
                .bold {
                    @include text-styles($secondary-color, $font-regular, 24px, 700, 1.5);
                }

                p {
                    @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
                    margin: 0;
                }
            }

            &__icon {
                @include media($mobile-screen) {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }

        @include media($mobile-screen) {
            width: 100%;

            h3 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
            }

            .bold {
                font-size: 20px;
            }
        }
    }

    &__image {
        height: 700px;
        width: 653px;

        @include media($extra-large-screen) {
            width: 50%;
            height: auto;
        }

        @include media($tablet-screen) {
            height: 400px;
            padding: 0 20px;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 35% 0 20%;

            @include media($extra-large-screen) {
                border-radius: 0 50px;
            }
        }
    }
}

.about_us {
    background-color: $Primary-3;
    padding: 88px 25px;
    border-radius: 50px;

    @include media($tablet-screen) {
        padding: 50px 18px;
    }

    @include media($mobile-screen) {
        padding: 30px 5px;
    }

    h2 {
        @include text-styles($primary-color, $font-medium, 50px, 400, 1.25);
        text-align: center;
        width: 55%;
        margin: 0 auto 38px auto;

        @include media($tablet-screen) {
            font-size: 35px;
        }

        @include media($mobile-screen) {
            width: 80%;
        }

    }

    &__cards {
        padding: 20px;

        @include media($mobile-screen) {
            padding: 5px;
        }

        .slick-prev {
            display: none !important;
            position: absolute;
            left: 10px;
            top: 50%;

            img {
                transform: rotate(180deg);
            }
        }

        .slick-next {
            display: none !important;
            position: absolute;
            right: 10px;
            top: 50%;
        }

        ul.slick-dots li {
            background-color: grey;
            border-radius: 30px;
        }

        ul.slick-dots li.slick-active {
            background-color: black;
        }

        .slick-list {
            display: flex;

            @include media($tablet-screen) {
                height: auto;
            }

            .slick-track {
                display: flex;
            }
        }

        &__card {
            margin: 0 10px;
            border-radius: 20px;
            padding: 54px 37px;
            background-color: $white-color;

            &__top {
                align-items: center;
                gap: 23px;
                margin-bottom: 25px;

                &__img {
                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        object-position: 100%;
                        border-radius: 50%;
                    }
                }

                &__text {
                    font-size: 22px;

                    .bold {
                        @include text-styles($primary-color, $font-medium, 25px, 400, 1.5);

                        @include media($tablet-screen) {
                            font-size: 22px;
                        }
                    }

                    p {
                        @include text-styles($secondary-color, $font-regular, 18px, 400, 1.5);
                    }
                }
            }

            &__bottom {
                @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);

                @include media($tablet-screen) {
                    font-size: 20px;
                }
            }
        }
    }
}

.brand {
    @include flex;
    margin: 150px 0;
    justify-content: center;
    flex-wrap: wrap;

    @include media($large-screen) {
        justify-content: center;
        flex-wrap: wrap;
    }

    @include media($tablet-screen) {
        margin: 100px 0;
    }

    &__logo {
        width: 20%;
        @include flex-center;

        @include media($large-screen) {
            width: 33.33%;
            margin-bottom: 20px;
        }

        @include media($mobile-screen) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.our_project {
    h2 {
        text-align: center;
        @include text-styles($Primary-2, $font-medium, 50px, 400, 1.25);
        margin-bottom: 8px;

        @include media($tablet-screen) {
            font-size: 35px;
        }
    }

    .para_info {
        @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
        width: 60%;
        margin: 0 auto;
        margin-bottom: 37px;
        text-align: center;

        @include media($tablet-screen) {
            font-size: 18px;
            width: 100%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__card {
            width: 48%;
            margin-top: 56px;

            @include media($mobile-screen) {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 40px;
            }

            .our_project__image {
                width: 100%;
                height: 525px;
                object-fit: cover;

                @include media($mobile-screen) {
                    height: auto;
                }
            }

            &__info {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding-top: 24px;

                &__text {
                    .bold {
                        @include text-styles($Primary-2, $font-medium, 25px, 400, 1.25);
                    }

                    p {
                        @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
                    }

                    @include media($tablet-screen) {
                        .p {
                            font-size: 18px;
                        }

                        .bold {
                            font-size: 22px;
                        }
                    }
                }

                &__btn {
                    .btn {
                        background-image: url(../../images/icons/arrow.WEBP);
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;

                        @include media($tablet-screen) {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.border-1 {
    border-radius: 90px 0 0 0;
}

.border-2 {
    border-radius: 0 90px 0 0;
}

.border-3 {
    border-radius: 0 0 90px 0;
}

.border-4 {
    border-radius: 0 0 0 90px;
}

.count {
    background-color: $Primary-3;
    margin: 150px 0;

    @include media($tablet-screen) {
        margin: 100px 0;
    }

    &__counter {
        flex-wrap: wrap;
        @include flex-center;
        padding: 151px 0rem;

        @include media($tablet-screen) {
            padding: 100px 0;
        }

        &__text {
            width: 25%;
            position: relative;

            @include media($mobile-screen) {
                width: 40%;
                justify-content: center;
            }

            &::after {
                position: absolute;
                content: "";
                top: 30px;
                bottom: 0;
                right: 0;
                width: 1px;
                background-color: $Primary-1;
            }

            h2 {
                @include text-styles($Primary-1, $font-medium, 85px, 400, 1.25);
                text-align: center;
                margin-bottom: 16px;
            }

            h3 {
                @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
                text-align: center;
            }

            @include media($tablet-screen) {
                h2 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 18px;
                }
            }

            &:nth-child(2) {
                &::after {
                    @include media($tablet-screen) {
                        display: none;
                    }
                }
            }

            &:nth-child(4) {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.article_and_news {
    h2 {
        @include text-styles($primary-color, $font-medium, 50px, 400, 1.25);
        text-align: center;
        margin-bottom: 12px;

        @include media($tablet-screen) {
            font-size: 35px;
        }
    }

    .article_and_news_info {
        @include text-styles($secondary-color, $font-regular, 22px, 400, 1.5);
        width: 66%;
        margin: 0 auto;
        text-align: center;
        line-height: 150%;
        margin-bottom: 52px;

        @include media($tablet-screen) {
            width: 90%;
            font-size: 18px;
        }
    }

    &__cards {
        display: flex;
        gap: 27px;

        @include media($tablet-screen) {
            gap: 0px;
            flex-wrap: wrap;
        }

        &__card {
            width: 33.33%;
            padding: 21px 20px;
            border-radius: 62px;
            border: 1px solid #E7E7E7;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);

            @include media($tablet-screen) {
                width: 90%;
                margin: 20px auto;
            }

            .img {
                position: relative;

                .article_and_news_img {
                    width: 100%;
                    object-fit: cover;
                    height: 290px;
                    border-radius: 35px 35px 0 0;

                    @include media($tablet-screen) {
                        height: auto;
                    }
                }

                .news_info {
                    @include text-styles($secondary-color, $font-regular, 16px, 400, 1.5);
                    background-color: $white-color;
                    position: absolute;
                    bottom: 25px;
                    border-radius: 8px 8px 8px 0px;
                    padding: 8px;
                    left: 25px;
                }
            }

            .bold {
                margin-top: 21px;
                margin-bottom: 30px;
                @include text-styles($primary-color, $font-medium, 25px, 400, 1.25);

                @include media($tablet-screen) {
                    font-size: 22px;
                }
            }

            &__info {
                margin-bottom: 21px;
                align-items: center;
                justify-content: space-between;

                &__date {
                    p {
                        @include text-styles($secondary-color, $font-regular, 16px, 400, 1.5);
                    }
                }

                &_btn {
                    .btn {
                        border: none;
                        border-radius: 50%;

                        img {
                            width: 52px;

                            @include media($tablet-screen) {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }

            &:hover {
                background-color: $Primary-3;

                .article_and_news__cards__card__info_btn a .btn img {
                    filter: invert(1);
                }
            }
        }
    }
}

.contact {
    background-color: $primary-color;
    text-align: center;
    padding: 80px 315px;
    margin: 202px 0 135px 0;
    border-radius: 70px;

    @include media($large-screen) {
        padding: 80px 150px;
    }

    @include media($tablet-screen) {
        margin: 100px 0;
    }

    @include media($mobile-screen) {
        padding: 50px 40px;
        border-radius: 0px;
    }

    h2 {
        @include text-styles($white-color, $font-medium, 50px, 400, 1.25);

        @include media($tablet-screen) {
            font-size: 35px;
        }
    }

    h3 {
        margin-top: 11px;
        @include text-styles($white-color, $font-regular, 22px, 400, 1.5);
        margin-bottom: 32px;

        @include media($tablet-screen) {
            font-size: 18px;
        }
    }

    a {
        margin: 0 auto !important;
    }
}