// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for a container element
.container {
    max-width: 1200px; // Set maximum width for larger screens
    margin: 0 auto; // Center the container horizontally

    @include media($extra-large-screen) {
        max-width: 1140px;
        padding: 0 20px;
    }

    @include media($large-screen) {
        max-width: 960px;
    }

    @include media($tablet-screen) {
        max-width: 720px;
    }

    @include media($mobile-screen) {
        max-width: 100%;
    }
}

// Styles for creating a flex container
.flex {
    display: flex; // Use flexbox for layout
}

.margin-20 {
    padding: 20px 0;
}

.default-btn {
    @include button;
    background: #292F36;
    width: 225px;

}

.large-btn {
    @include button;
    background: #292F36;
    width: 290px;
}

.primary-btn {
    @include button;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0);
    background: $Primary-1;
    width: 265px;
    margin: 0 auto;
}

.large-btn,
.primary-btn,
.default-btn {
    @include media($extra-large-screen) {
        width: fit-content;
    }

    @include media($mobile-screen) {
        padding: 14px 20px;
    }
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.bold {
    @include text-styles($secondary-color, $font-regular, 22px, 600, 1.25);
}

.lines {

    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 58.5px;

    .line-1 {
        width: 1px;
        background-color: #E6E6E6;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

    }

    .line-2 {
        width: 1px;
        background-color: #E6E6E6;
        height: 100%;
        left: 33.33%;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    .line-3 {
        width: 1px;
        background-color: #E6E6E6;
        height: 100%;
        right: 33.33%;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .line-4 {
        right: 0;
        width: 1px;
        background-color: #E6E6E6;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}
.line-5 {
    right: 0;
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    position: absolute;
    bottom: 59px;
}